@model MVC_proekt.ViewModels.PredmetFilter

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Subjects" asp-action="Index" method="get">
<p>
<select asp-for="ProgramaString" asp-items="Model.ProgramaList">
<option value="">All</option>
</select>
<select asp-for="SemestarString" asp-items="Model.SemestarList">
<option value="">All</option>
</select>
Title: <input type="text" asp-for="SearchString" />
<input type="submit" value="Filter" />
</p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].FirstProfessor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].SecondProfessor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstProfessor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondProfessor.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
